/*
Custom CSS for project
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.row-center {
    text-align:center;
}

.col-center {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.main-text-color{
  color: #1a237e !important;
}

.main-color {
  background-color: #1a237e !important;
}