/*
Custom CSS for project
*/

body {
  margin:0;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ccc;
}

.modal {
  max-width:450px;
}

.input-field input[type=text]:focus + label {
  color: #1a237e;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #1a237e;
  box-shadow: 0 1px 0 0 #1a237e;
}
.input-field input[type=password]:focus + label {
  color: #1a237e;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid #1a237e;
  box-shadow: 0 1px 0 0 #1a237e;
}

[type="radio"].with-gap:checked + label:after {
  background-color: #1a237e !important;
}

.main-text{
  color: #1a237e !important;
}

.secondary-text{
  color: #ffff8d !important;
}

.main-color {
  background-color: #1a237e !important;
}

.img-btn {
  padding: 0 5px;
  background-color: transparent;
}

.img-btn:focus, .img-btn:hover {
  background-color: transparent;
}

.btn-group-h{
  min-width: 40%;
}

ul.dropdown-content.select-dropdown li span {
    color: #000;
}