/*
Custom CSS for project
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.col-center {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.main-text-color{
  color: #1a237e !important;
}

.main-color {
  background-color: #1a237e !important;
}